			body{
				width: 100%;
				height: 100%;
				background-image: url(../1.jpg);
				background-size: 1920px 1080px;
				background-repeat: no-repeat;/* 重复背景 */
				margin: 0px;padding: 0px;
				overflow: hidden;
			}
			*{
				margin: 0;
				padding: 0;
			}
			.jiazai{
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 50;
			background-repeat: no-repeat;
			background-size: cover;
			}
			.nav{
				height: 80px;
				width: 1920px;
				list-style-type: none;/* 列表标记 */
				background-color: #000000;/* 颜色 */
				text-align:center;/* 文本居中 */
				z-index: 1;
			}
			li{
				display: inline;
				padding: 75px;
			}
			a:link{
				font-size: 22px;
				text-decoration: none;
				/* 修饰文本 */
			}
			.nav ul li a:hover{
				color: red;
			}
			.b{
				line-height: 80px;/*字体距离 上边框*/
			}
			.nav ul li a{
				color: aliceblue;
			}
			.daohang{
				z-index: 10;
			}
			.shipin{
				width: 1800px;
				height: 750px;
				background-color: rgba(0,0,10,0.65);/* 背景透明 字体不透明 */
				margin: 51px;
				padding: 0;
				border-radius: 15px;
			}
			.shipinziti1{
				color: #E8E8E8;
				text-align: center;
				line-height: 70px;
			}
			.shipinziti2{
				line-height: 100px;
				}
			.shipin1{
				height: 350px;
				margin: 60px;
				margin-top:0px;
				padding: 50px;
				letter-spacing: 55px;/* 设置对象间距 */
				}
			.shipin2{
				margin-top: 40px;
			}
			.neirong{
				width: 1200px;
				height: 410px;
				color: #E8E8E8;
				margin: 0 0 0 300px;
				font-size: 20px;
				word-break: normal;
				letter-spacing: 2px;
			}
			.neirong1{
				color: #FF0000;
				text-align: center;
				line-height: 50px;
			}
			.neirong2{
				line-height: 34px;
				text-indent: 42px;
			}
			.neirong3{
				line-height:34px;
				text-indent: 42px;
			}
			.neirong4{
				line-height: 70px;
				color: blue;
				text-align: center;
			}
			.neirong5{
				text-align: center;
				color: #FF0000;
				line-height: 50px;
			}
			.qun1{
				font-size:26px;
				color: #FF0000;
			}
			.yemian{
				width: 1920px;
				height: 960px;
				background-color: rgba(0,0,10,0.55);
			}
			.zhuyeziti{
				padding: 300px 0px 0px 400px;
				font-size: 20px;
				color: #B2B5BA;
				line-height: 55px;
			}
			.biaoti{
				color: #FFFFFF;
			}
			.xiazai{
				width: 240px;
				line-height: 13px;
				margin: 40px 0px 0px 0px;
				padding: 22px 0px;
				border: 2px #FFFFFF solid;
				border-radius: 3px;
				display: inline-block;
				text-align: center;
				letter-spacing: 6px;
				opacity: 1;
				color: #FFFFFF;;
			}
			.xiazai:hover{
				background-color: #555555;
			}
			.xiazaitubiao{
				position: absolute;
				left: 462px;
				top: 604px;
			}
			.zhuyetupian{
				position: absolute;
				top: 320px;
				left: 900px;
				opacity: 0.75;
			}
			.bzhan{
				color: red;
			}
			.gameh_footer{
			height: 30px;
			line-height: 0px;
			position: fixed;
			bottom: 0;
			width: 100%;
			text-align: center;
			font-size: 14px;
			letter-spacing: 1px;
			left: 0;
			color: #B2B5BA;
			}
